//cores
$cordefundo:rgb(51, 51, 51);
$cordeletra1:rgb(255, 255, 255);
$cordeletra2: rgb(160, 160, 160);
$navcolor: rgb(27, 27, 27);
$lightbg:rgb(202, 202, 202);
$lightnav:rgb(0, 159, 183);
$light: rgb(255, 217, 0);
$logobg:rgb(22, 22, 22);
$otherbtn: rgb(217, 165, 32);

//mediaquerries
$tablet: 768px;
$descktop:1050px;
$descktop-hd:1300px;
$descktop-fhd:1640px;
